/*------------------BASE------------------*/
html, body, body div, span, h1, h2, h3, h4, h5, h6, p, img, strong, b, i, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, article, footer, header, menu, nav, section, figure {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

body {
  background-color: #f2f2f2;
}

/*---------UTILITIES---------*/
.hide {
  text-indent: -9999px;
  top: -9999px;
  position: absolute;
}

.hide {
  text-indent: -9999px;
  position: absolute;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
  overflow: hidden;
}

/*--------------------HEADER--------------------*/
#header {
  background: url(/images/header/header-background-1890px.jpg) no-repeat;
  min-height: 600px;
  border-top: solid 14px #ef202b;
  border-bottom: solid 14px #ef202b;
  position: relative;
}

.logo-menu {
  background-color: #f2f2f2;
  background-color: rgba(242, 242, 242, 0.9);
  border-top: solid 1px #3f6fbc;
  border-bottom: solid 1px #3f6fbc;
  height: 50px;
  position: absolute;
  width: 100%;
  top: 40px;
}

.logo-menu__container {
  margin: auto;
  width: 985px;
}

.logo {
  height: 90px;
  width: 320px;
  position: absolute;
  top: -21px;
}

.logo > img {
  max-width: 320px;
  width: 100%;
}

/*-------------HEADER INFORMATION-------------*/
.header-information {
  color: #fff;
  font-family: Arial, sans-serif, Geneva;
  font-size: 15px;
  float: left;
  width: 410px;
  margin-left: 23px;
  position: relative;
  top: 85px;
}

.header-information h2 {
  text-align: center;
  font-size: 33px;
  color: #ef202b;
  font-weight: 700;
  font-family: Verdana, Arial, sans-serif;
  background-color: rgba(242, 242, 242, 0.9);
  margin-bottom: 20px;
  padding: 10px 0;
}

.header-information p {
  margin-bottom: 1em;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: justify;
}

.header-information h3 {
  font-size: 18px;
  font-family: Arial, sans-serif, Verdana;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-information .addresses p {
  font-size: 15px;
  margin-bottom: 15px;
}

.header-information .addresses p:last-child {
  margin-bottom: 25px;
}

.header-information h3 + ul {
  margin-left: 20px;
  margin-bottom: 15px;
}

#contact .header-information {
  top: 50px;
}

/*-------PROMOTIONS BANNER-------*/
.promotions-banner {
  position: relative;
  top: 25px;
}

/*---------------CONTACT INFORMATION---------------*/
.contact-information {
  border-top: dashed #b8c5de 1px;
  padding-top: 30px;
  margin: 0 auto 30px;
  width: 985px;
}

.contact-information .column {
  float: left;
  height: 30px;
  width: 33%;
  line-height: 30px;
}

.contact-information .column p {
  font-family: Montserrat, Arial, Verdana;
  color: #325899;
  font-size: 14px;
}

.contact-information .column .icon {
  margin-bottom: -7px;
}

.contact-information .email {
  text-align: left;
}

.contact-information .phones {
  text-align: center;
}

.contact-information .social-icons {
  text-align: right;
}

.contact-information .icon-email, .contact-information .icon-phone {
  margin-right: 10px;
}

/*-------------------CAROUSEL-------------------*/
.wrapper {
  width: 985px;
  margin: auto;
  top: 110px;
  position: relative;
}

#carousel {
  background-size: contain;
  background: url("/images/carousel/home/polaroid-background.png") no-repeat;
  float: left;
  height: 475px;
  margin-right: -33px;
  max-width: 585px;
  width: 585px;
  position: relative;
  left: -33px;
}

#carousel .polaroid {
  height: 370px;
  width: 468px;
  position: relative;
  top: 55px;
  left: 62px;
  overflow: hidden;
}

#carousel #slider {
  height: 370px;
  width: 500%;
}

#carousel #slider .slide {
  height: 370px;
  width: 468px;
  list-style-type: none;
  float: left;
  display: block;
}

/*------------------MENU------------------*/
.menu {
  height: 50px;
  float: right;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 15px;
  list-style-type: none;
}

.menu a {
  color: #3f6fbc;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.menu > li {
  float: left;
  height: 50px;
  min-width: 70px;
  padding: 0 20px;
  font-weight: bold;
  transition: all .75s;
  position: relative;
}

.menu > li:after {
  content: "";
  position: absolute;
  background-color: #f2f2f2;
  height: 36px;
  width: 1px;
  right: -1px;
  top: 7px;
}

.menu > li:last-child:after {
  display: none;
}

.menu > li a {
  display: block;
  text-align: center;
  transition: all .75s;
  line-height: 50px;
}

.menu > .active, .menu > li:hover {
  background-color: #c21a23;
}

.menu > .active a, .menu > li:hover a {
  color: #fff;
}

.menu > .active:after, .menu > li:hover:after {
  display: none;
}

/*------------CONTENT------------*/
.content {
  margin: auto;
  padding: 30px 20px;
  width: 985px;
}

/*----------------HOME----------------*/
.home {
  margin-bottom: -10px;
}

.home__column {
  width: 33%;
  float: left;
  text-align: center;
  position: relative;
  padding-top: 20px;
}

.home__column:first-child {
  text-align: left;
}

.home__column:last-child {
  text-align: right;
}

.home__column p {
  color: #f2f2f2;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  box-sizing: border-box;
  width: 307px;
  letter-spacing: 1px;
  line-height: 17px;
  position: relative;
  margin-top: -45px;
  bottom: 45px;
}

.home__column .reservation {
  padding: 0 20px 0 80px;
}

.home__column .trip {
  width: 100%;
  padding: 0 20px 0 92px;
}

.home__column .tours {
  padding: 0 20px 0 80px;
  float: right;
}

.about {
  background-color: #f2f2f2;
}

.about__column {
  width: 48%;
  text-align: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 15px;
}

.about__column h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Verdana, Arial, sans-serif;
  color: #f91311;
  margin: 15px 0;
}

.about__column p {
  color: #747474;
  font-family: Arial, Verdana, sans-serif;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: 1px;
  line-height: 20px;
  position: relative;
  text-align: justify;
}

.about .mission {
  float: left;
  text-align: left;
}

.about .mission img {
  display: block;
  max-width: 478px;
  width: 100%;
}

.about .vission {
  float: right;
}

.about .vission img {
  display: block;
  text-align: right;
  max-width: 474px;
  width: 100%;
}

/*-----PROMOTIONS-----*/
.promotions {
  padding-top: 10px;
}

.promotions .banner-ad img {
  height: auto;
  max-width: 980px;
  width: 100%;
}

/*----------------CONTACT----------------*/
.contact {
  font-family: Verdana, Arial, sans-serif;
  margin-bottom: 20px;
}

.contact p:first-child {
  text-align: center;
  font-family: Arial, sans-serif, Verdana;
  color: #5e5e5e;
  font-size: 13px;
  margin-bottom: 20px;
}

.contact input, .contact textarea {
  border: solid 1px #d4d4d4;
  box-sizing: border-box;
  color: #949494;
  font-size: 11px;
  padding: 15px;
}

.contact input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  color: #949494;
}

.contact input::-moz-placeholder,
.contact textarea::-moz-placeholder {
  color: #949494;
}

.contact input:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
  color: #949494;
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: #949494;
}

.contact .name-email-phone-group {
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}

.contact .name-email-phone-group .column {
  width: 33.33%;
}

.contact .name-email-phone-group .column input {
  display: block;
  width: 98%;
}

.contact .name-email-phone-group .column:nth-child(1) {
  float: left;
}

.contact .name-email-phone-group .column:nth-child(1) input {
  margin-right: 2%;
}

.contact .name-email-phone-group .column:nth-child(2) {
  float: left;
}

.contact .name-email-phone-group .column:nth-child(2) input {
  margin: auto;
}

.contact .name-email-phone-group .column:nth-child(3) {
  float: left;
}

.contact .name-email-phone-group .column:nth-child(3) input {
  margin-left: 2%;
}

.contact textarea {
  margin-bottom: 20px;
  width: 100%;
}

.contact .bottom-form {
  font-size: 12px;
  margin-bottom: 30px;
  width: 100%;
}

.contact .bottom-form .left-column {
  color: #5e5e5e;
  float: left;
  line-height: 45px;
  text-align: center;
  width: 66.67%;
}

.contact .bottom-form .left-column p {
  display: inline-block;
  margin-right: 20px;
}

.contact .bottom-form .left-column label {
  cursor: pointer;
}

.contact .bottom-form .left-column label[for="by_email"] {
  margin-right: 15px;
}

.contact .bottom-form .left-column input[type=checkbox] {
  position: relative;
  top: 3px;
  line-height: normal;
  margin-right: 5px;
  height: 15px;
  width: 15px;
}

.contact .bottom-form .right-column {
  float: left;
  width: 33.33%;
}

.contact .bottom-form .right-column button {
  background-color: #ff1111;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  height: 45px;
  letter-spacing: 1px;
  line-height: 45px;
  padding: 0 20px;
  transition: all .75s;
}

.contact .bottom-form .right-column button:first-child {
  margin-right: 10px;
}

.contact .bottom-form .right-column button:hover {
  background-color: #dd0000;
}

.contact .maps .left-map,
.contact .maps .right-map {
  width: 470px;
}

.contact .maps .left-map {
  float: left;
}

.contact .maps .right-map {
  float: right;
}

.contact .maps .address {
  height: 50px;
  width: 100%;
  background-color: #f81818;
  text-align: center;
}

.contact .maps .address p {
  background: url("/images/icons/mark-icon.jpg") no-repeat left center;
  color: #fff;
  display: inline-block;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  padding: 10px 0 10px 20px;
  width: 380px;
  margin: 0;
  line-height: 16px;
  -moz-text-align-last: left;
       text-align-last: left;
}

.contact .maps .map {
  border: solid 1px #f81818;
}

.contact .maps .map iframe {
  height: 355px;
  width: 100%;
}

/*-----------------FOOTER-----------------*/
.footer {
  clear: both;
  background-color: #3f6fbc;
  height: 50px;
  font-size: 11px;
  color: white;
  font-family: Arial, sans-serif, Geveva;
}

.footer .container {
  line-height: 50px;
  width: 985px;
  margin: auto;
}

.footer .copyright {
  float: left;
}

.footer .developed_by {
  float: right;
  padding-right: 20px;
}

.footer .developed_by img {
  position: relative;
  top: 4px;
  margin-top: -8px;
}

.footer .developed_by a {
  color: white;
  text-decoration: none;
}

.footer .developed_by a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
