html, body, body div, span, h1, h2, h3, h4, h5, h6, p, img, strong, b, i, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, article, footer, header, menu, nav, section, figure {
  margin: 0;
  padding: 0;
}

.hide {
  text-indent: -9999px;
  top: -9999px;
  position: absolute;
}

.hide {
  text-indent: -9999px;
  position: absolute;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

#header {
  background: url(/images/header/header-background-1890px.jpg) no-repeat;
  min-height: 600px;
  border-top: solid 14px #ef202b;
  border-bottom: solid 14px #ef202b;
  position: relative;
}

.logo-menu {
  background-color: #f2f2f2;
  background-color: rgba(242, 242, 242, 0.9);
  border-top: solid 1px #3f6fbc;
  border-bottom: solid 1px #3f6fbc;
  height: 50px;
  position: absolute;
  width: 100%;
  top: 40px;
}

.logo-menu__container {
  margin: auto;
  width: 985px;
}

.logo {
  height: 90px;
  width: 320px;
  position: absolute;
  top: -21px;
}

.logo > img {
  max-width: 320px;
  width: 100%;
}

.carousel-welcome {
  width: 985px;
  margin: auto;
  top: 110px;
  position: relative;
}

.carousel-welcome .carousel-home {
  background-size: contain;
  background: url("/images/carousel/home/polaroid-background.png") no-repeat;
  float: left;
  height: 475px;
  margin-right: -33px;
  max-width: 585px;
  width: 585px;
  position: relative;
  left: -33px;
}

.carousel-welcome .polaroid {
  height: 370px;
  width: 468px;
  position: relative;
  top: 55px;
  left: 62px;
  overflow: hidden;
}

.carousel-welcome #slider {
  height: 370px;
  width: 500%;
}

.carousel-welcome .slide {
  height: 370px;
  width: 468px;
  list-style-type: none;
  float: left;
  display: block;
}

.carousel-welcome > .welcome {
  color: #fff;
  font-family: Arial, sans-serif, Geneva;
  font-size: 15px;
  float: left;
  width: 410px;
  margin-left: 23px;
  position: relative;
  top: 85px;
}

.carousel-welcome > .welcome > h2 {
  text-align: center;
  font-size: 33px;
  color: #ef202b;
  font-weight: bold;
  font-family: Verdana, Arial, sans-serif;
  background-color: rgba(242, 242, 242, 0.9);
  margin-bottom: 20px;
  padding: 10px 0;
}

.carousel-welcome > .welcome p {
  margin-bottom: 1em;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: justify;
}

.menu {
  height: 50px;
  float: right;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 15px;
  list-style-type: none;
}

.menu a {
  color: #3f6fbc;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.menu > li {
  float: left;
  height: 50px;
  min-width: 70px;
  padding: 0 20px;
  font-weight: bold;
  transition: all .75s;
  position: relative;
}

.menu > li:after {
  content: "";
  position: absolute;
  background-color: #f2f2f2;
  height: 36px;
  width: 1px;
  right: -1px;
  top: 7px;
}

.menu > li:last-child:after {
  display: none;
}

.menu > li a {
  display: block;
  text-align: center;
  transition: all .75s;
  line-height: 50px;
}

.menu > .active, .menu > li:hover {
  background-color: #c21a23;
}

.menu > .active a, .menu > li:hover a {
  color: #fff;
}

.menu > .active:after, .menu > li:hover:after {
  display: none;
}

.content {
  margin: auto;
  padding: 30px 20px;
  width: 985px;
}

.home {
  background-color: #f2f2f2;
}

.home__row__column {
  width: 33%;
  float: left;
  text-align: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: dashed 1px #b8c5de;
}

.home__row__column:first-child {
  text-align: left;
}

.home__row__column:last-child {
  text-align: right;
}

.home__row__column p {
  color: #f2f2f2;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  box-sizing: border-box;
  width: 307px;
  letter-spacing: 1px;
  line-height: 17px;
  position: relative;
  margin-top: -45px;
  bottom: 45px;
}

.home__row__column .reservation {
  padding: 0 20px 0 80px;
}

.home__row__column .trip {
  width: 100%;
  padding: 0 20px 0 92px;
}

.home__row__column .tours {
  padding: 0 20px 0 80px;
  float: right;
}

.contact-information {
  margin: 0 auto 30px;
  width: 985px;
}

.contact-information .column {
  float: left;
  height: 30px;
  width: 33%;
  line-height: 30px;
}

.contact-information .column p {
  font-family: Montserrat, Arial, Verdana;
  color: #325899;
  font-size: 14px;
}

.contact-information .column .icon {
  margin-bottom: -7px;
}

.contact-information .email {
  text-align: left;
}

.contact-information .phones {
  text-align: center;
}

.contact-information .social-icons {
  text-align: right;
}

.contact-information .icon-email, .contact-information .icon-phone {
  margin-right: 10px;
}

.footer {
  clear: both;
  background-color: #3f6fbc;
  height: 50px;
  font-size: 11px;
  color: white;
  font-family: Arial, sans-serif, Geveva;
}

.footer .container {
  line-height: 50px;
  width: 985px;
  margin: auto;
}

.footer .copyright {
  float: left;
}

.footer .developed_by {
  float: right;
  padding-right: 20px;
}

.footer .developed_by img {
  position: relative;
  top: 4px;
  margin-top: -8px;
}

.footer .developed_by a {
  color: white;
  text-decoration: none;
}

.footer .developed_by a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
