.wrapper {
	width: 985px;
	margin: auto;
	top: 110px;
	position: relative;
}

#carousel {
	background-size: contain;
	background: url('/images/carousel/home/polaroid-background.png') no-repeat;
	float: left;
	height: 475px;
	margin-right: -33px;
	max-width: 585px;
	width: 585px;
	position: relative;
	left: -33px;
	&	.polaroid {
		height: 370px;
		width: 468px;
		position: relative;
		top: 55px;
		left: 62px;
		overflow: hidden;
	}

	#slider {
		height: 370px;
		width: 500%;
		& .slide {
			height: 370px;
			width: 468px;
			list-style-type: none;
			float: left;
			display: block;
		}
	}
}
