/*---------------CONTACT INFORMATION---------------*/
.contact-information {
	border-top: dashed #b8c5de 1px;
	padding-top: 30px;
	margin: 0 auto 30px;
	width: 985px;
	.column {
		float: left;
		height: 30px;
		width: 33%;
		line-height: 30px;
		p {
			font-family: Montserrat, Arial, Verdana;
			color: #325899;
			font-size: 14px;
		}
		.icon {
			margin-bottom: -7px;
		}
	}
	.email {
		text-align: left;
	}

	.phones {
		text-align: center;
	}

	.social-icons {
		text-align: right;
	}

	.icon-email, .icon-phone {
		margin-right: 10px;
	}
}