.about {
	background-color: #f2f2f2;
	&__column {
		width: 48%;		
		text-align: center;
		position: relative;
		padding-top: 20px;
		padding-bottom: 15px;		
		h2 {
			text-align: center;
			font-size: 24px;
			font-weight: bold;
			font-family: Verdana, Arial, sans-serif;
			color: saturate(#e02b29, 20%);
			margin: 15px 0;
		}
		p {
			color: #747474;
			font-family: Arial, Verdana, sans-serif;
			font-size: 15px;
			text-align: center;
			box-sizing: border-box;
			letter-spacing: 1px;
			line-height: 20px;
			position: relative;
			text-align: justify;
		}
	}
	.mission {
		float: left;
		text-align: left;
		img {
			display: block;
			max-width: 478px;
			width: 100%;
		}
	}
	.vission {
		float: right;
		img {
			display: block;
			text-align: right;
			max-width: 474px;
			width: 100%;
		}
	}
}
