.home {
	background-color: #f2f2f2;
	&__row {
		&__column {			
			width: 33%;
			float: left;
			text-align: center;
			position: relative;
			padding-top: 10px;
			padding-bottom: 15px;
			border-bottom: dashed 1px #b8c5de;
			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
			p {
				color: #f2f2f2;
				font-family: Verdana, Arial, sans-serif;
				font-size: 13px;
				text-align: center;
				box-sizing: border-box;
				width: 307px;
				letter-spacing: 1px;
				line-height: 17px;
				position: relative;
				margin-top: -45px;
				bottom: 45px;
			}
			.reservation {
				padding: 0 20px 0 80px;
			}
			.trip {
				width: 100%;
				padding: 0 20px 0 92px;
			}
			.tours {
				padding: 0 20px 0 80px;
				float: right;
			}
		}
	}
}
